.order-detail-card {
    font-size: 12px;
    width: 100%;
    border: 1px solid #e6e6e6;
    table-layout: fixed;
    margin-bottom: 10px;
    border-right: none;
    .order-title {
        font-weight: 700;
        padding: 8px 10px 5px;
        font-size: 12px;
        color: #333;
        background: #eef7ff;
        .state {
            padding: 5px 6px;
            margin: 0 10px;
        }
        .state-wait {
            background-color: #ffa033;
        }
        .state-daifahuo {
            background-color: #b74a4c;
            color: #fff;
        }
        .order-detail-header {
            font-weight: 700;
        }
    }
    .order-body-row {
        width: 100%;
        display: flex;
        .order-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-right: 1px solid #ebebeb;
            align-items: stretch;
            padding: 0 10px;
            border-bottom: 1px solid #ebebeb;
        }
        .order-column1 {
            width: 35%;
            .order-msg {
                padding: 2px 10px;
                width: 100%;
                min-height: 105px;
                display: flex;
                align-items: center;
                .order-img {
                    display: inline-block;
                    width: 60px;
                    height: 60px;
                }
                .order-content {
                    display: inline-block;
                    line-height: 22px;
                    padding-left: 16px;
                    .user-name {
                        color: rgb(74, 144, 226);
                    }
                }
            }
        }
        .order-column2 {
            width: 16%;
            line-height: 22px;
            color: rgb(74, 144, 226);
            .order-list {
                padding-right: 8px;
            }
        }
        .order-column3 {
            width: 18%;
            line-height: 22px;
        }
        .order-column4 {
            width: 14%;
            line-height: 22px;
            .send-btn {
                height: 28px;
                width: 85px;
                color: #fff;
                padding: 0 16px;
                font-size: 12px;
                line-height: 26px;
                text-align: center;
                border-width: 1px;
                background-color: #3089dc;
            }
            .order-content {
                color: rgb(74, 144, 226);
            }
        }
        .order-column5 {
            width: 17%;
            .btn-medium {
                display: block;
                margin: 0 auto 8px auto;
                width: 82px;
                height: 28px;
                padding: 0 16px;
                line-height: 26px;
                text-align: center;
                background-color: #e4f0fd;
                border: 1px solid #3089dc;
                color: #3089dc;
            }
        }
    }
    .address {
        padding: 7px 10px;
        font-size: 14px;
        border-top: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;
        .edit-address {
            color: rgb(74, 144, 226);
            padding-left: 8px;
        }
    }
}